@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/





/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.window {
  width: 20%;
  height: 550px;
  border: 1px solid rgba(0,0,0,1);
  margin: 10px auto;
  overflow: hidden;
  position: relative;
  background: url(bg.jpg) 50% 50% no-repeat;
  background-size: cover;
}

/* logo fixing */

.window figure:first-child {
  width: 30%;
  margin: 30px auto 0;
}

/* table animation */

 .window figure:nth-child(6) {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-animation: table 1.5s ease-out forwards;
          animation: table 1.5s ease-out forwards;
}

@-webkit-keyframes table {
  0%   { opacity: 0;}
  100% { opacity: 1;}
}

@keyframes table {
  0%   { opacity: 0;}
  100% { opacity: 1;}
}

/* plate animation */

  .window figure:nth-child(7) {
  width: 90%;
  position: absolute;
  bottom: 15px;
  left: -500px;
  -webkit-animation: plate 3s linear 1s;
          animation: plate 3s linear 1s;
}

@-webkit-keyframes plate {
  0%   { bottom:15px; left:-500px;}
  10%  { bottom:15px; left:-32px;}
  90%  { bottom:15px; left:-32px;}
  100% { bottom:15px; left:-500px;}
}

@keyframes plate {
  0%   { bottom:15px; left:-500px;}
  10%  { bottom:15px; left:-32px;}
  90%  { bottom:15px; left:-32px;}
  100% { bottom:15px; left:-500px;}
}

/* sasonali animation */

.window figure:nth-child(8) {
  width: 70%;
  position: absolute;
  right: -500px;
  bottom: 85px;
  -webkit-animation: sadsonali 3s ease-in 1.5s;
          animation: sadsonali 3s ease-in 1.5s;
}

@-webkit-keyframes sadsonali {
  0%   { bottom:85px; right:-500px;}
  10%  { bottom:85px; right:-10px;}
  40%  { bottom:85px; right:0px;}
  85%  { bottom:85px; right:0px;}
  100% { bottom:85px; right:-500px;}
}

@keyframes sadsonali {
  0%   { bottom:85px; right:-500px;}
  10%  { bottom:85px; right:-10px;}
  40%  { bottom:85px; right:0px;}
  85%  { bottom:85px; right:0px;}
  100% { bottom:85px; right:-500px;}
}

/* heading one animation */

.window h1:nth-child(2) {
  width: 70%;
  position: absolute;
  top: 110px;
  left: -300px;
  color: crimson;
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
  -webkit-animation: heading-one 3s ease-in 1.5s ;
          animation: heading-one 3s ease-in 1.5s ;
}

@-webkit-keyframes heading-one {
  0%   { top:110px; left:-300px;}
  10%  { top:110px; left: 50%; -webkit-transform: translateX(-53%); transform: translateX(-53%);}
  40%  { top:110px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
  85%  { top:110px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
  100% { top:110px; left:-500px;}
}

@keyframes heading-one {
  0%   { top:110px; left:-300px;}
  10%  { top:110px; left: 50%; -webkit-transform: translateX(-53%); transform: translateX(-53%);}
  40%  { top:110px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
  85%  { top:110px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
  100% { top:110px; left:-500px;}
} 

/* sandwich animation */

.window figure:nth-child(9) {
  width: 70%;
  position: absolute;
  z-index: 1;
  top: 460px;
  left: -200px;
  text-transform: capitalize;
  color: crimson;
  font-size: 30px;
  text-align: center;
  -webkit-animation: sandwich-one 8.7s 3.8s;
          animation: sandwich-one 8.7s 3.8s;
}

@-webkit-keyframes sandwich-one {
  0%   { left:-200px;}
  5%   { left:-30px;}
  95%  { left:-30px;}
  100% { left:-250px;}
}

@keyframes sandwich-one {
  0%   { left:-200px;}
  5%   { left:-30px;}
  95%  { left:-30px;}
  100% { left:-250px;}
}

.window figure:nth-child(10) {
  width: 45%;
  position: absolute;
  z-index: 1;
  top: 475px;
  left: -170px;
  -webkit-animation: sandwich-two 8.7s 3.8s ;
  animation: sandwich-two 8.7s 3.8s ;
}

@-webkit-keyframes sandwich-two{
  0%   { left:-170px;}
  5%   { left:0;}
  95%  { left:0;}
  100% { left:-220px;}

}

@keyframes sandwich-two{
  0%   { left: -170px;}
  5%   { left: 0;}
  95%  { left: 0;}
  100% { left: -220px;}

}

.window figure:nth-child(11) {
  width: 45%;
  position: absolute;
  z-index: 2;
  top: 460px;
  left: -166px;
  -webkit-animation: sandwich-three 8.7s 3.8s ;
          animation: sandwich-three 8.7s 3.8s ;
}

@-webkit-keyframes sandwich-three{
  0%   { left:-166px;}
  5%   { left:1px;}
  10%  { left:1px; top:460px;}
  15%  { left:1px; top:400px;}
  25%  { left:1px; top:400px;}
  30%  { left:1px; top:450px;}
  95%  { left:1px; top:450px;}
  100% { left:-216px; top:450px;}
}

@keyframes sandwich-three{
  0%   { left:-166px;}
  5%   { left:1px;}
  10%  { left:1px; top:460px;}
  15%  { left:1px; top:400px;}
  25%  { left:1px; top:400px;}
  30%  { left:1px; top:450px;}
  95%  { left:1px; top:450px;}
  100% { left:-216px; top:450px;}
}

.window figure:nth-child(12) {
  width: 30%;
  position: absolute;
  z-index: 2;
  top: 445px;
  left: -166px;
  opacity: 0;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-animation: knife 8.7s 3.8s;
          animation: knife 8.7s 3.8s;
}

@-webkit-keyframes knife{
  0%   { left:-166px; opacity: 0;}
  5%   { left:1px;}
  10%  { left:1px;}
  14%  { top:445px;left:10px; opacity: 0;}
  15%  { top:445px;left:10px; opacity: 1;}
  25%  { top:450px;left:76px; opacity: 1;}
  26%  { top:450px;left:76px; opacity: 0;}
  100% { left:-216px; opacity: 0;}
}

@keyframes knife{
  0%   { left:-166px; opacity: 0;}
  5%   { left:1px;}
  10%  { left:1px;}
  14%  { top:445px;left:10px; opacity: 0;}
  15%  { top:445px;left:10px; opacity: 1;}
  25%  { top:450px;left:76px; opacity: 1;}
  26%  { top:450px;left:76px; opacity: 0;}
  100% { left:-216px; opacity: 0;}
}

.window figure:nth-child(13) {
  width: 45%;
  position: absolute;
  z-index: 1;
  top: 466px;
  left: -166px;
  -webkit-animation: mayo 8.7s 3.8s ;
          animation: mayo 8.7s 3.8s ;
}

@-webkit-keyframes mayo{
  0%   { left:-166px; opacity: 0;}
  5%   { left:1px;}
  10%  { left:1px;}
  15%  { left:1px; opacity: 0;}
  25%  { left:1px; opacity: 1;}
  30%  { left:1px;}
  95%  { left:1px;}
  100% { left:-216px; opacity: 1;}
}

@keyframes mayo{
  0%   { left:-166px; opacity: 0;}
  5%   { left:1px;}
  10%  { left:1px;}
  15%  { left:1px; opacity: 0;}
  25%  { left:1px; opacity: 1;}
  30%  { left:1px;}
  95%  { left:1px;}
  100% { left:-216px; opacity: 1;}
}

/* happysonali animation */

.window figure:nth-child(14){
  width: 70%;
  position: absolute;
  right: -500px;
  bottom: 85px;
  -webkit-animation: happysonali 3s ease-in 6.5s ;
          animation: happysonali 3s ease-in 6.5s ;
}

@-webkit-keyframes happysonali{
  0%   { bottom:85px; right:-500px;}
  10%  { bottom:85px; right:-10px;}
  40%  { bottom:85px; right:-1px;}
  85%  { bottom:85px; right:-1px;}
  100% { bottom:85px; right:-500px;}
}

@keyframes happysonali{
  0%   { bottom:85px; right:-500px;}
  10%  { bottom:85px; right:-10px;}
  40%  { bottom:85px; right:-1px;}
  85%  { bottom:85px; right:-1px;}
  100% { bottom:85px; right:-500px;}
}

/* heading two animation */

.window h1:nth-child(3) {
  width: 70%;
  position: absolute;
  top: 110px;
  left: -300px;
  color: crimson;
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
  -webkit-animation: heading-two 3s ease-in 6.5s ;
          animation: heading-two 3s ease-in 6.5s ;
}

@-webkit-keyframes heading-two{
  0%   { top:110px; left:-300px;}
  10%  { top:110px; left: 50%; -webkit-transform: translateX(-53%); transform: translateX(-53%);}
  40%  { top:110px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
  85%  { top:110px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
  100% { top:110px; left:-500px;}
}

@keyframes heading-two{
  0%   { top:110px; left:-300px;}
  10%  { top:110px; left: 50%; -webkit-transform: translateX(-53%); transform: translateX(-53%);}
  40%  { top:110px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
  85%  { top:110px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
  100% { top:110px; left:-500px;}
}

/* chef animation */

.window figure:nth-child(15){
  width: 70%;
  position: absolute;
  right: -500px;
  bottom: 85px;
  -webkit-animation: chef 3s ease-in 9.5s ;
          animation: chef 3s ease-in 9.5s ;
}

@-webkit-keyframes chef{
  0%   { bottom:85px; right:-500px;}
  10%  { bottom:85px; right:-10px;}
  40%  { bottom:85px; right:-1px;}
  85%  { bottom:85px; right:-1px;}
  100% { bottom:85px; right:-500px;}
}

@keyframes chef{
  0%   { bottom:85px; right:-500px;}
  10%  { bottom:85px; right:-10px;}
  40%  { bottom:85px; right:-1px;}
  85%  { bottom:85px; right:-1px;}
  100% { bottom:85px; right:-500px;}
}

/* heading three animation */

.window h1:nth-child(4) {
  width: 100%;
  position: absolute;
  top: 110px;
  left: -300px;
  color: crimson;
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
  -webkit-animation: heading-three 3s ease-in 9.5s;
          animation: heading-three 3s ease-in 9.5s;
}

@-webkit-keyframes heading-three{
  0%   { top:110px; left:-300px;}
  10%  { top:110px; left: 50%; -webkit-transform: translateX(-53%); transform: translateX(-53%);}
  40%  { top:110px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
  85%  { top:110px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
  100% { top:110px; left:-500px;}
}

@keyframes heading-three{
  0%   { top:110px; left:-300px;}
  10%  { top:110px; left: 50%; -webkit-transform: translateX(-53%); transform: translateX(-53%);}
  40%  { top:110px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
  85%  { top:110px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
  100% { top:110px; left:-500px;}
}

/* veg mayo animation */

.window figure:nth-child(16){
  width: 35%;
  position: absolute;
  right: -500px;
  bottom: 45px;
  -webkit-animation: veg-mayo 3s ease-out 12.5s forwards;
          animation: veg-mayo 3s ease-out 12.5s forwards;
}

@-webkit-keyframes veg-mayo{
  0%   { bottom:45px; right:-500px;}
  10%  { bottom:45px; right:50%; -webkit-transform: translateX(55%); transform: translateX(55%);}
  40%  { bottom:45px; right:50%; -webkit-transform: translateX(50%); transform: translateX(50%);}
  85%  { bottom:45px; right:50%; -webkit-transform: translateX(50%); transform: translateX(50%);}
  100% { bottom:45px; right:50%; -webkit-transform: translateX(50%); transform: translateX(50%);}
}

@keyframes veg-mayo{
  0%   { bottom:45px; right:-500px;}
  10%  { bottom:45px; right:50%; -webkit-transform: translateX(55%); transform: translateX(55%);}
  40%  { bottom:45px; right:50%; -webkit-transform: translateX(50%); transform: translateX(50%);}
  85%  { bottom:45px; right:50%; -webkit-transform: translateX(50%); transform: translateX(50%);}
  100% { bottom:45px; right:50%; -webkit-transform: translateX(50%); transform: translateX(50%);}
}

/* heading four animation */

.window h1:nth-child(5) {
  width: 70%;
  position: absolute;
  top: 110px;
  left: -300px;
  color: crimson;
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
  -webkit-animation: heading-four 3s ease-in 12.5s forwards;
          animation: heading-four 3s ease-in 12.5s forwards;
}

@-webkit-keyframes heading-four {
  0%   { top:110px; left:-300px;}
  10%  { top:110px; left: 50%; -webkit-transform: translateX(-53%); transform: translateX(-53%);}
  40%  { top:110px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
  85%  { top:110px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
  100% { top:110px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
}

@keyframes heading-four {
  0%   { top:110px; left:-300px;}
  10%  { top:110px; left: 50%; -webkit-transform: translateX(-53%); transform: translateX(-53%);}
  40%  { top:110px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
  85%  { top:110px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
  100% { top:110px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
}

/* hat animation */

.window figure:nth-child(17) {
  width: 41%;
  position: absolute;
  top: 190px;
  left: -300px;
  -webkit-animation: hat 2s ease-out 14s forwards;
          animation: hat 2s ease-out 14s forwards;
}

@-webkit-keyframes hat{
  0%   { top:190px; left:-300px;}
  10%  { top:190px; left: 97px;}
  40%  { left: 97px;}
  85%  { left: 97px;}
  100% { top:287px; left: 97px;}
}

@keyframes hat{
  0%   { top:190px; left:-300px;}
  10%  { top:190px; left: 97px;}
  40%  { left: 97px;}
  85%  { left: 97px;}
  100% { top:287px; left: 97px;}
}

/* recipe button animation */

.window a:nth-child(18) {
  width: 41%;
  padding: 8px 7%;
  border-radius: 10px;
  position: absolute;
  top: 0px;
  left: -300px;
  background-color: #6600CC;
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: recipe 0.2s 15.5s forwards;
          animation: recipe 0.2s 15.5s forwards;
}

@-webkit-keyframes recipe{
  0%   { top:0; left:-300px;}
  100% { top:200px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
}

@keyframes recipe{
  0%   { top:0; left:-300px;}
  100% { top:200px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  