@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/





/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.window{
  width: 20%;
  height: 550px;
  margin: 10px auto;
  background: url(bg.jpg) 50% 50% no-repeat;
  background-size: cover;
  border: 1px solid rgba(0,0,0,1);
  position: relative;
  overflow: hidden;
}

.window figure:first-child{
  width: 30%;
  margin: 30px auto 0;
}


h1 ~ figure {
  display: none;
}

.window h1:nth-child(3),
.window h1:nth-child(4),
.window h1:nth-child(5){
  display: none;
}

 .window figure:nth-child(6){
  position: absolute;
  bottom: 0;
  left: 0;
  animation-name: table;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  display: block;
}

@keyframes table{
  from { opacity: 0;}
  to { opacity: 1;}
}

  .window figure:nth-child(7){
  position: absolute;
  bottom: 15px;
  left: -500px;
  width: 90%;
  animation-name: plate;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-delay: 1s;
  display: block;
}

@keyframes plate{
  0%   { bottom:15px; left:-500px;}
  10%  { bottom:15px; left:-32px;}
  90%  { bottom:15px; left:-32px;}
  100% { bottom:15px; left:-500px;}
}

.window figure:nth-child(8){
  position: absolute;
  bottom: 85px;
  right: -500px;
  width: 70%;
  animation-name: sadsonali;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-delay: 1.5s;
  animation-timing-function:ease-out;
  display: block;
}

@keyframes sadsonali{
  0%   { bottom:85px; right:-500px;}
  10%  { bottom:85px; right:-10px;}
  40%  { bottom:85px; right:0px;}
  85%  { bottom:85px; right:0px;}
  100% { bottom:85px; right:-500px;}
}

.window h1:nth-child(2) {
  position: absolute;
  top: 110px;
  left: -300px;
  width: 70%;
  text-transform: capitalize;
  color: crimson;
  font-size: 30px;
  text-align: center;
  animation-name: heading-one;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-delay: 1.5s;
  animation-timing-function:ease-out;
  display: block;
}

@keyframes heading-one{
  0%   { top:110px; left:-300px;}
  10%  { top:110px; left: 50%; transform: translateX(-53%);}
  40%  { top:110px; left: 50%; transform: translateX(-50%);}
  85%  { top:110px; left: 50%; transform: translateX(-50%);}
  100% { top:110px; left:-500px;}
} 

.window figure:nth-child(9) {
  position: absolute;
  top: 460px;
  left: -200px;
  width: 70%;
  text-transform: capitalize;
  color: crimson;
  font-size: 30px;
  text-align: center;
  animation-name: sandwich-one;
  animation-duration: 8.7s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-delay: 3.8s;
  display: block;
  z-index: 1;
}

@keyframes sandwich-one{
  0%   { left:-200px;}
  5%  { left:-30px;}
  95%  { left:-30px;}
  100% { left:-250px;}
}

.window figure:nth-child(10) {
  position: absolute;
  top: 475px;
  left: -170px;
  width: 45%;
  text-transform: capitalize;
  color: crimson;
  font-size: 30px;
  text-align: center;
  animation-name: sandwich-two;
  animation-duration: 8.7s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-delay: 3.8s;
  display: block;
  z-index: 1;
}

@keyframes sandwich-two{
  0%   { left:-170px;}
  5%  { left:0;}
  95%  { left:0;}
  100% { left:-220px;}

}


.window figure:nth-child(11) {
  position: absolute;
  top: 460px;
  left: -166px;
  width: 45%;
  text-transform: capitalize;
  color: crimson;
  font-size: 30px;
  text-align: center;
  animation-name: sandwich-three;
  animation-duration: 8.7s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-delay: 3.8s;
  /* animation-timing-function:ease-out; */
  /* animation-fill-mode:; */
  display: block;
  z-index: 2;
}

@keyframes sandwich-three{
  0%   { left:-166px;}
  5%   { left:1px;}
  10%  { left:1px; top:460px;}
  15%  { left:1px; top:400px;}
  25%  { left:1px; top:400px;}
  30%  { left:1px; top:450px;}
  95%  { left:1px; top:450px;}
  100% { left:-216px; top:450px;}
}

.window figure:nth-child(12) {
  position: absolute;
  top: 445px;
  left: -166px;
  width: 30%;
  text-transform: capitalize;
  color: crimson;
  font-size: 30px;
  text-align: center;
  animation-name: knife;
  animation-duration: 8.7s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-delay: 3.8s;
  display: block;
  z-index: 2;
  opacity: 0;
  transform: rotateX(180deg);
}

@keyframes knife{
  0%   { left:-166px; opacity: 0;}
  5%   { left:1px;}
  10%  { left:1px;}
  14%  { top:445px;left:10px; opacity: 0;}
  15%  { top:445px;left:10px; opacity: 1;}
  25%  { top:450px;left:76px; opacity: 1;}
  26%  { top:450px;left:76px; opacity: 0;}
  100% { left:-216px; opacity: 0;}
}

.window figure:nth-child(13) {
  position: absolute;
  top: 466px;
  left: -166px;
  width: 45%;
  text-transform: capitalize;
  color: crimson;
  font-size: 30px;
  text-align: center;
  animation-name: mayo;
  animation-duration: 8.7s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-delay: 3.8s;
  display: block;
  z-index: 1;
}

@keyframes mayo{
  0%   { left:-166px; opacity: 0;}
  5%   { left:1px;}
  10%  { left:1px;}
  15%  { left:1px; opacity: 0;}
  25%  { left:1px; opacity: 1;}
  30%  { left:1px;}
  95%  { left:1px;}
  100% { left:-216px; opacity: 1;}
}








.window figure:nth-child(14){
  position: absolute;
  bottom: 85px;
  right: -500px;
  width: 70%;
  animation-name: happysonali;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-delay: 6.5s;
  animation-timing-function:ease-out;
  display: block;
}

@keyframes happysonali{
  0%   { bottom:85px; right:-500px;}
  10%  { bottom:85px; right:-10px;}
  40%  { bottom:85px; right:-1px;}
  85%  { bottom:85px; right:-1px;}
  100% { bottom:85px; right:-500px;}
}

.window h1:nth-child(3) {
  position: absolute;
  top: 110px;
  left: -300px;
  width: 70%;
  text-transform: capitalize;
  color: crimson;
  font-size: 30px;
  text-align: center;
  animation-name: heading-two;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-delay: 6.5s;
  animation-timing-function:ease-out;
  display: block;
}

@keyframes heading-two{
  0%   { top:110px; left:-300px;}
  10%  { top:110px; left: 50%; transform: translateX(-53%);}
  40%  { top:110px; left: 50%; transform: translateX(-50%);}
  85%  { top:110px; left: 50%; transform: translateX(-50%);}
  100% { top:110px; left:-500px;}
}







.window figure:nth-child(15){
  position: absolute;
  bottom: 85px;
  right: -500px;
  width: 70%;
  animation-name: chef;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-delay: 9.5s;
  animation-timing-function:ease-out;
  display: block;
}

@keyframes chef{
  0%   { bottom:85px; right:-500px;}
  10%  { bottom:85px; right:-10px;}
  40%  { bottom:85px; right:-1px;}
  85%  { bottom:85px; right:-1px;}
  100% { bottom:85px; right:-500px;}
}

.window h1:nth-child(4) {
  position: absolute;
  top: 110px;
  left: -300px;
  width: 100%;
  text-transform: capitalize;
  color: crimson;
  font-size: 30px;
  text-align: center;
  animation-name: heading-three;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-delay: 9.5s;
  animation-timing-function:ease-out;
  display: block;
}

@keyframes heading-three{
  0%   { top:110px; left:-300px;}
  10%  { top:110px; left: 50%; transform: translateX(-53%);}
  40%  { top:110px; left: 50%; transform: translateX(-50%);}
  85%  { top:110px; left: 50%; transform: translateX(-50%);}
  100% { top:110px; left:-500px;}
}








.window figure:nth-child(16){
  position: absolute;
  bottom: 45px;
  right: -500px;
  width: 35%;
  animation-name: veg-mayo;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-delay: 12.5s;
  animation-timing-function:ease-out;
  display: block;
  animation-fill-mode: both;
}

@keyframes veg-mayo{
  0%   { bottom:45px; right:-500px;}
  10%  { bottom:45px; right:50%; transform: translateX(55%);}
  40%  { bottom:45px; right:50%; transform: translateX(50%);}
  85%  { bottom:45px; right:50%; transform: translateX(50%);}
  100% { bottom:45px; right:50%; transform: translateX(50%);}
}


.window h1:nth-child(5) {
  position: absolute;
  top: 110px;
  left: -300px;
  width: 70%;
  text-transform: capitalize;
  color: crimson;
  font-size: 30px;
  text-align: center;
  animation-name: heading-four;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-delay: 12.5s;
  animation-timing-function:ease-out;
  display: block;
  animation-fill-mode: both;
}

@keyframes heading-four{
  0%   { top:110px; left:-300px;}
  10%  { top:110px; left: 50%; transform: translateX(-53%);}
  40%  { top:110px; left: 50%; transform: translateX(-50%);}
  85%  { top:110px; left: 50%; transform: translateX(-50%);}
  100% { top:110px; left: 50%; transform: translateX(-50%);}
}








.window figure:nth-child(17) {
  position: absolute;
  top: 190px;
  left: -300px;
  width: 41%;
  text-transform: capitalize;
  color: crimson;
  font-size: 30px;
  text-align: center;
  animation-name: hat;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-delay: 14s;
  animation-timing-function:ease-out;
  display: block;
  animation-fill-mode: both;
}

@keyframes hat{
  0%   { top:190px; left:-300px;}
  10%  { top:190px; left: 97px;}
  40%  { left: 97px;}
  85%  { left: 97px;}
  100% { top:287px; left: 97px;}
}







/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  